<%= form_for @menu do |f|%>
  <% if @menu.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@menu.errors.count, "error") %> prohibited this menu from being saved:</h2>
      <ul>
      <% @menu.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :title %><br>
    <%= f.text_field :title, :class=>"form-control", :placeholder => "Title" %>
  </div>
  <div class="form-group">
    <%= f.label :restaurant %><br>
    <%= f.select(:restaurant_id,options_from_collection_for_select(current_user.restaurants,:id,:name,params[:restaurant_id]),{},{:class=>"form-control"})%><br>
    <br>
  </div>
<%end%>