<div class="table-responsive">
  <table id="mytable" class="table table-bordred table-striped">
    <thead>
    <th>#</th>
    <th>Item name</th>
    <th>Category</th>
    <th>Price</th>
    <th>Decription</th>
    <th>Created_at</th>
    <th>Edit</th>
    <th>Delete</th>
    </thead>
    <tbody>

  <% object.each do |item| %>
        <tr>
          <td><%= item.id %></td>
          <td><%= item.name  %></td>
          <td><%= item.category.name %></td>
          <td><%= number_to_currency(item.price,:unit=>"€")%></td>
          <td><%= truncate(item.description,length: 37)%></td>
          <td><%= item.created_at.strftime("%B %Y")%></td>
          <td>
            <%= link_to edit_item_path(item.id),remote:true,:class=> "btn btn-primary btn-xs edit_item" do %>
                <%= content_tag(:span,"",:class=>"glyphicon glyphicon-pencil")%>
            <% end %>
          </td>
          <td>
            <%= link_to item_path(item.id),:remote => true, :id=>"delete_item",method: :delete,:class=> "btn btn-danger btn-xs"  do %>
                <%= content_tag(:span,"",:class=>"glyphicon glyphicon-trash")%>
            <% end %>
        </tr>
        </tbody>

    <% end %>
    </table>
</div>