<div class="col-md-12">
    <h4>Menus all</h4>
    <div class="table-responsive">
      <table id="mytable" class="table table-bordred table-striped">
            <thead>
            <th>#</th>
            <th>Menu Name</th>
            <th>Restaurant</th>
            <th>Created_at</th>
            <th>Edit</th>
            <th>Delete</th>
            </thead>
        <tbody>
        <% @menus.each do |menu| %>
        <tr>
          <td><%= menu.id %></td>
          <td><%= link_to menu.title,list_menu_path(menu.id) %></td>
          <td><%= menu.restaurant.name %></td>
          <td><%= menu.created_at%></td>
          <td><p><button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit" data-placement="top" rel="tooltip"><span class="glyphicon glyphicon-pencil"></span></button></p></td>
          <td><p><button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete" data-placement="top" rel="tooltip"><span class="glyphicon glyphicon-trash"></span></button></p></td>
        </tr>
        </tbody>
        <%end%>
      </table>
    </div>
</div>