<div class="col-md-12">
  <%= link_to "Add new item",new_item_path(:menu_id=>@menu.id),:class => 'btn btn-primary add_new_item',remote: true%>
  <div class="col-lg-12 item_form_wraper"></div>
  <%= render :partial => 'menus/table_items',:locals=>{object:@menu_item} %>
</div>

