var modal = $('.modal');
var title = $('.modal-title');

title.empty();
modal.find('.modal-body').empty();

title.append('Add New Menu').addClass('text-center');
modal.find('.modal-body').append("<%= j render :partial =>'menus/form'%>");
$('#item_menu_id').val("hijaa");
modal.modal('show');
