<%= form_for(@organization,:url => wizard_path, :method =>:put) do |f| %>
    <% if @organization.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@organization.errors.count, "error") %>
            prohibited this organization from being saved:</h2>
          <ul>
            <% @organization.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class="form-group">
      <%= f.label 'Organization Name' %>
      <%= f.text_field :name, :class=>"form-control", :placeholder=> "Organization Name" %>
    </div>
    <div class="form-group">
      <%= f.label :description %>
      <%= f.text_area :description, :class=>"form-control",
                      :rows=>"3", :placeholder => "Description" %>
    </div>
    <%= f.submit 'Create', :class=>"btn btn-default" %>
<% end %>
<%= link_to 'skip', next_wizard_path,:class=>"btn btn-default"%>