
    <div class="col-lg-4 col-md-3 col-xs-6 daily_menu">
      <ul class="plan plan1">
        <li class="plan-name">
          <%= daily_menu.title.capitalize%>
        </li>
        <% daily_menu.items.each do |item|%>
        <li>
         <strong>Name: <%= item.name.capitalize %></strong><br>
          <small><strong> <%= item.description.capitalize %></strong></small>
        </li>
        <% end %>
        <li class="plan-price">
          <strong>Price: <%= daily_menu.price %> / €</strong>
        </li>
        <li class="plan-action">
          <%= link_to "Edit",edit_daily_menu_path(daily_menu.id),:class => "btn btn-success  btn-md edit_daily",remote: true %>
          <%= link_to set_visibility_text(daily_menu),toggle_visibility_daily_menu_path(daily_menu.id),:data=>{loading_text:'Loading'},:class => set_class_for_visibility(daily_menu),remote: true,method: :put%>
          <%= link_to "Delete",daily_menu_path(daily_menu.id),:class => "btn btn-warning  btn-md delete_daily",:method => :delete,remote: true  %>
        </li>
      </ul>
    </div>

