  <%= error_messages_for(@daily_menu)%>

  <%= form_for @daily_menu  do |f| %>

    <div class="form-group">
      <%= f.label :title %><br>
      <%= f.text_field :title, :class=>"form-control", :placeholder => "Daily Menu Name" %>
      <%= f.hidden_field :restaurant_id ,:value => params[:restaurant_id] || @daily_menu.restaurant_id %>
    </div>

    <div class="form-group ">
      <%= f.label :price %><br>
      <%= f.text_field :price, :class=>"form-control", :placeholder => "Daily Menu Price"%>

    </div>

    <h2>Meals</h2>

    <%= render :partial=>"daily_menus/items",:locals=>{f:f} %>

    <div id="itemsWrapper"></div>

     <div class="form-group">
        <%= f.submit "Create Daily Menu",:class=>"btn btn-primary "%>
        <%= link_to "Add New Meal",'#',:class=>"btn btn-success newItem"%>
  <% end %>
     </div>