<%= f.fields_for :items  do |i|%>
    <div class="form-group col-lg-12">
      <div class="col-lg-4">
        <%= i.label :name,:class=>'label_name' %><br>
        <%= i.text_field :name,:class=>"form-control", :placeholder => "Price for Daily Menu"%>
      </div>

      <div class="col-lg-4">
        <%= i.label :category %><br>
        <%=i.select(:category_id,options_from_collection_for_select(Category.all,:id,:name),{ :prompt=>"Izaberite kategoriju jela" },{:class=>"form-control"}) %>
      </div>

      <div class="col-lg-4">
        <%= i.label :description %><br>
        <%= i.text_field :description,:class=>"form-control", :placeholder => "Short Description"%>
        <%= i.hidden_field :menu_type, :value =>false %>
      </div>
    </div>
<%end%>