
    var modal = $('.add_new_modal');
    var title = $('.modal-title');

    title.empty();
    modal.find('.modal-body').empty();

    title.append('Edit ').addClass('text-center');
    modal.find('.modal-body').append("<%= j render :partial =>'daily_menus/form'%>");
    modal.modal();



$('.newItem').on('click',function(){
    var x = $('.label_name').length - 1;
        /* function for appending nested item in daily menu( app/javascript/daily_menu.js)*/
    append_nested_form_to_daily_menu_form(x)
});
$("#itemsWrapper").on("click",".remove_field", function(e){
        event.preventDefault();
        $(this).parent('div').remove();
        x--;

});
