

<div class="row">
  <div class="col-sm-offset-3 col-sm-6">
    <div class="panel panel-primary">
      <div class="panel-heading">Sign up!</div>
      <div class="panel-body">
      <h4 class="text-center">Plan Selected : <strong><%= plan_name(session[:plan_id])%></strong></h4>
            <div class="form-group">
               <%= f.label(:username,class: 'col-sm-2 control-label') %>
              <div class="col-sm-10">
                <%= @user.errors[:username].to_sentence %>
                <%= f.text_field(:username,class: 'form-control')%>
              </div>
            </div>

            <div class="form-group">
                <%= f.label :email, class: 'col-sm-2 control-label' %>
              <div class="col-sm-10">
                <%= @user.errors[:email].to_sentence %>
                <%= f.text_field :email,:class => 'form-control' %>
              </div>
            </div>

            <div class="form-group">
              <%= f.label :password, class: 'col-sm-2 control-label' %>
              <div class="col-sm-10">
                <%= @user.errors[:password].to_sentence %>
                <%= f.password_field :password, class: 'form-control' %>
              </div>
            </div>

            <div class="form-group">
                <%= f.label :password_confirmation, class: 'col-sm-2 control-label' %>
              <div class="col-sm-10">
                <%= @user.errors[:password_confirmation].to_sentence %>
                <%= f.password_field :password_confirmation, class: 'form-control' %>
              </div>
            </div>
            <div class="form-group">
             <div class="col-sm-offset-1 col-sm-10">
             <%=f.hidden_field :plan_id,:value => params[:plan_id]%>
               <%= f.submit 'Sign Up',class:'btn btn-primary form-control'%>
             </div>
            </div>
      </div>
    </div>
  </div>
</div>
