<div class="row">
  <div class="col-sm-offset-3 col-sm-6">
    <div class="panel panel-primary login">
      <div class="panel-heading">Sign in!</div>
      <div class="panel-body">

        <%= form_tag access_index_path , role: 'form', class: 'form-horizontal' do %>

            <div class="form-group">
              <%= label_tag :username, nil, class: 'col-sm-2 control-label' %>
              <div class="col-sm-10">
                <%= text_field_tag :username, nil, class: 'form-control' %>
              </div>
            </div>

            <div class="form-group">
              <%= label_tag :password, nil, class: 'col-sm-2 control-label' %>
              <div class="col-sm-10">
                <%= password_field_tag :password, nil, class: 'form-control' %>
              </div>
            </div>

            <div>
              <%= submit_tag 'Sign in', class: 'btn btn-primary' %>
            </div>

        <% end %>

      </div>
    </div>
  </div>
</div>
