<%if @menu_category %>
  <div class="sidebar-nav" data-spy="affix" data-offset-top="50">
    <div class="well" style="width:200px; padding: 8px 0;">
      <ul class="nav nav-list">
        <% @menu_category.each do |cat| %>
            <li><%= link_to cat,"##{cat.downcase.split.join}",class:"scroll_link"%></li>
        <% end %>
      </ul>
    </div>
  </div>oliver

<% end %>