<div class="sidebar-nav">
  <div class="well" style="width:250px; padding: 8px 0;">
    <ul class="nav nav-list">
      <% if @restaurant %>
      <li class="nav-header text-center">Restoran: <%= @restaurant.name  %></li>
      <li class="<%= active_link?(new_restaurant_url) %>" >
        <%= link_to content_tag(:i,'Add New Restaurant',:class=>"icon-home"),new_restaurant_path,remote:true %>
      </li>
      <% if  @restaurant.menu.nil? %>
          <li  class="<%= active_link?(new_menu_url) %>">
            <%= link_to "Add Menu",new_menu_path(:restaurant_id => @restaurant.id),:class=>'add_menu_side',remote:true %>
          </li>
      <% else%>
          <li class="<%= active_link?(list_menu_url(@restaurant.id)) %>">
            <%= link_to "Menage Menu",list_menu_path(@restaurant.menu.id)%>
          </li>
      <% end %>
      <li class="<%= active_link?('#') %>">
        <%= link_to "All Daily Menus",menage_daily_menu_path(@restaurant.id) %>
      </li>
      <li class="<%= active_link?('#') %>">
         <%= link_to "Food Category Menage",category_path%>
       </li>
      <li class="<%= active_link?(new_daily_menu_url) %>">
        <%= link_to "Add Daily Menu",new_daily_menu_path(:restaurant_id => @restaurant.id),:class=>'add_new_daily_menu' %>
      </li><% end %>
      <li class="<%= active_link?('#') %>">
        <%= link_to "Orders",'#' %></li>
      <li><%= link_to content_tag(:i,'Logout',:class=>"icon-home"),access_path(current_user.id),:method => :delete %></li>
    </ul>
  </div>
</div>