
    <div class="row">
        <div class="col-md-12">
         <%@categories.each do |category|%>
         <%if !category.items.empty?%>
            <div class="panel panel-success" id="<%=category.name.downcase.split.join%>" >
                <div class="panel-heading">
                   <h3 class="panel-title"><%= category.name%></h3>
                </div>
                <div class="panel-body">
                    <table class=" table table-responsive table-striped ">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Price</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                          <%@items.each do |item|%>
                             <%if item.category == category%>
                                <tr>
                                    <td>
                                        <h5><%=item.name%></br></h5>
                                        <small><%= truncate(item.description,length: 37)%></small>
                                    </td>
                                    <td><p><%=number_to_currency(item.price,:unit=>"€")%></p></td>
                                    <td>
                                        <%= form_tag cart_index_path,class:"form-inline",remote:true do %>
                                            <%= hidden_field_tag :item_id, item.id%>
                                            <%= number_field_tag :quantity,nil,value:1%>
                                            <p class="pull-right"><%= submit_tag "Add to card",class:"btn btn-success btn-sm"%></p>
                                        <%end%>
                                    </td>
                                </tr>
                             <%end%>
                          <%end%>
                        </tbody>
                     </table>
                </div>
             </div>
             <%end  %>
          <%end%>
        </div>
    </div>

