<% if cart_items && !cart_items.empty? %>
    <%cart_items.each do |item|%>
        <p><%= item.name %>
           <%= link_to cart_path(item.id),:method => :delete,class:"pull-right",remote:true do %>
                <span class="glyphicon glyphicon-trash"></span>
           <% end %><br>
            <%= item.quantity %> X <span class="pull-right"><%=number_to_currency((item.quantity * item.price),:unit=>"€")%></span>
        </p>
    <% end %>
   <h5>Total Price: <%=number_to_currency(cart_total,:unit=>'€')%></h5>
<% else %>
    <h4 class="text-center">Your Cart is Empty</h4>
<% end %>