<div class="shopping_cart" data-spy="affix" data-offset-top="50">
  <div class="well" style="width:200px; padding: 8px 0;">
    <h5 class="text-center">Shopping Cart</h5>
    <%= render :partial => 'shared/shopping_cart_items'%>
    <%= link_to "Clen Cart",clean_cart_index_path,remote:true %>
  </div>
</div>

