<div class="sidebar-nav">
  <div class="well" style="width:250px; padding: 8px 0;">
    <ul class="nav nav-list">
      <li class="nav-header text-center"><%= current_user.organizations.first.name.capitalize %></li>
      <li><%= link_to content_tag(:i,'Add New Restaurant',:class=>"icon-home"),new_restaurant_path,remote:true %></li>
      <li><%= link_to content_tag(:i,'Restaurants',:class=>"icon-home"),restaurants_path %>
        <ul>
          <% @restaurants.each do |r|%>
          <li>
                <%= link_to r.name,menage_restaurant_path(r.slug)  %>
          </li>
          <% end %>
        </ul>
      </li>
      <li><%= link_to content_tag(:i,'Menus',:class=>"icon-home"),menus_path %></li>
      <li><%= link_to content_tag(:i,'Logout',:class=>"icon-home"),access_path(current_user.id),:method => :delete %></li>
    </ul>
  </div>
</div>