<div class="row">
  <% @plans.each do |plan| %>
  <div class="col-lg-4 plans">
    <div class="list-group">
        <a href="#" class="list-group-item active">
          <%= plan.name %> - <%= number_to_currency(plan.price) %> / Month
        </a>
        <a href="#" class="list-group-item"><%= plan.restaurants%> Restaurants</a>
        <a href="#" class="list-group-item"><%= plan.tables%> Table / Restaurants</a>
        <a href="#" class="list-group-item"><%= plan.menu_items%> Menu Items / Restaurants</a>
        <a href="#" class="list-group-item"><%= plan.storage%> GB storage</a>
        <%= link_to registration_path(:plan_id => plan.id),:class=>"list-group-item" do %>
            <button class="btn btn-success">Sign Up</button>
        <% end %>
     </div>
  </div>
  <% end%>
</div>

