
 <% if @restaurant.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@restaurant.errors.count, "error") %>
            prohibited this organization from being saved:</h2>
          <ul>
            <% @restaurant.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
 <% end %>
    <%= form_for(@restaurant) do |f|%>
        <div class="form-group">
          <%= f.label 'Restaurant Name' %>
          <%= f.text_field :name, :class=>"form-control", :placeholder=> "Restaurant Name" %>
        </div>
        <div class="form-group">
          <%= f.label :description %>
          <%= f.text_area :description, :class=>"form-control",:rows=>"3", :placeholder => "Restaurant Description" %>
        </div>
        <div class="form-group">
            <%=f.submit "Create Restaurant",:class=>'btn btn-primary'%>
            <%= link_to "Cancel",'#',:class=>"btn btn-default",:data=>{:dismiss=>"modal"}%>
        </div>
     <%end%>
