<%= form_for(@restaurant) do |f| %>
    <%= render :partial => 'restaurants/form',:locals=>{f: f}%>
    <%= f.submit 'Edit Restaurant', :class=>"btn btn-default" %> <%= link_to 'Cancel',restaurants_path,:class=>"btn btn-default" %>
<% end %>