var modal = $('.add_new_modal')
var title = $('.modal-title')

title.empty()
modal.find('.modal-body').empty();
title.html('Add New Restaurant').addClass('text-center')
modal.find('.modal-body').append("<%= j render :partial => 'restaurants/form'%>")
modal.modal('show')
