<h1><%= @restaurant.name %></h1>
<% if !@restaurant.menu %>
    <button class="btn btn-success"><%= link_to "Dodaj Menu",new_menu_path(:restaurant_id =>@restaurant.id) %></button>
<% end %>
<h3>Menus</h3>
<% if @menus.size > 0 %>
    <%= @menus.each do |m|  %>
        <%= link_to m.title,menu_path(m) %>
    <% end %>
<% else %>
    <h3>Ovaj restoran neposjeduje kreiran menu</h3>
 <% end %>
