
<%= error_messages_for(@item)%>
<%= form_for @item,remote:true  do |i| %>
    <div class="row default_form_items ">
      <div class="col-lg-4 ">
       <%= i.hidden_field :menu_id,:value=> params[:menu_id] %>
        <%= i.label :name %><br>
        <%= i.text_field :name, :class=>"form-control", :placeholder => "Name" %>
      </div>
      <div class="col-lg-4">
        <%= i.label :price %><br>
        <%= i.text_field :price, :class=>"form-control", :placeholder => "Price" %>
      </div>
      <div class="col-lg-4">
        <%= i.label :category %><br>
        <%=i.select(:category_id,options_from_collection_for_select(Category.all,:id,:name),{ :prompt=>"Izaberite kategoriju jela" },{:class=>"form-control"}) %><br>
      </div>
      <div class="col-lg-10 ">
        <%= i.label :description %><br>
        <%= i.text_area :description, :class=>"form-control", :placeholder => "Description" %>
      </div>
      <div class="col-lg-4">
        <%= i.submit "Create",:class=>"btn btn-primary create_items"%>
      </div>
    </div>
<% end %>