
$.ajax({
    success:function(){
        $('.modal').modal('hide');
        $('#mytable tr:last').after("<tr>" +
                "<td><%= j @current_ajax_item.id.to_s  %></td>"+
                "<td> <%= j @current_ajax_item.name %></td>"+
                "<td> <%= j @current_ajax_item.category.name %></td>"+
                "<td> <%= j @current_ajax_item.price.to_s %> </td>"+
                "<td> <%= j @current_ajax_item.description %></td>"+
                "<td> <%= j time_ago_in_words(@current_ajax_item.created_at.to_s) %> </td>"+
                "<td><a href='/items/<%= j  @current_ajax_item.id.to_s %>/edit' class ='btn btn-primary btn-xs edit_item' data-remote ='true'><span class='glyphicon glyphicon-pencil'></span></a></td>"+
                "<td><a href='/items/<%= j  @current_ajax_item.id.to_s %>' data-method='delete' id='delete_item' data-remote ='true'  class ='btn btn-danger btn-xs '><span class='glyphicon glyphicon-trash'></span></a></td>"+
                "</tr>"


        )
    }

})
