.wraper_items{
    border: 1px solid #666666;
}
li.active a {
   background-color: #101010;
    color: #c4e3f3;
}
.login{
    margin-top: 150px;
}
.plans{
   padding-top: 150px;
}
.form-inline .form-group input{
    width: 500px;
}
.default_form_items{
    margin-bottom: 20px;
}
.new_form{
    padding-top: 10px;
    padding-bottom: 40px;
    margin-top: 20px;
    border-top: 1px solid #101010;
}
.create_items{
    margin-top: 15px;
}
.remove_field{
    margin-top: 10px;
}
.item{
   border-bottom: 2px solid #000;
   padding-bottom: 10px;
}
.pricing {
    text-align: center;
}
.daily_label{
    padding: 10px 10px;
    border-radius: 2px;
    color: #c4e3f3;
   #argin: 10px,10px;
}
#description{
    border-bottom:1px dashed #BAB7B7;
    padding-bottom: 10px;


}
hr{
    border-top:1px dashed #BAB7B7;
}



.flat .plan {
    border-radius: 6px;
    list-style: none;
    padding: 0 0 20px;
    margin: 0 0 15px;
    background: #fff;
    text-align: center;
}
.flat .plan li {
    padding: 10px 15px;
    color: #ccc;
    border-top: 1px solid #f5f5f5;
    -webkit-transition: 300ms;
    transition: 300ms;
}
.flat .plan li.plan-price {
    border-top: 0;
}
.flat .plan li.plan-name {
    border-radius: 6px 6px 0 0;
    padding: 15px;
    font-size: 24px;
    line-height: 24px;
    color: #fff;
    background: #6BBFEA;;
    margin-bottom: 30px;
    border-top: 0;
}
.flat .plan li > strong {
    color: #e74c3c;
}
.flat .plan li.plan-action {
    margin-top: 10px;
    border-top: 0;
}
.flat .plan.featured {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
.flat .plan.featured li.plan-name {
    background: #000;
}
.flat .plan.featured:hover li.plan-name {
    background: #c0392b;
}
.flat .plan:hover li.plan-name {
    background: #000;
}
#footer {
    margin-top: 100px;
    padding-bottom: 30px;
}



.hiddenStepInfo {
    display: none;
}

.activeStepInfo {
    display: block !important;
}

.underline {
    text-decoration: underline;
}

.step {
    margin-top: 27px;
    text-align: center;
}

.step .col-md-2 {
    background-color: #fff;
    border: 1px solid #C0C0C0;
    border-right: none;
}

.step .col-md-2:last-child {
    border: 1px solid #C0C0C0;
}

.step .col-md-2:first-child {
    border-radius: 5px 0 0 5px;
}

.step .col-md-2:last-child {
    border-radius: 0 5px 5px 0;
}

.step .col-md-2:hover {
    color: #F58723;
    cursor: pointer;
}

.step .activestep {
    color: #F58723;
    height: 100px;
    margin-top: -7px;
    padding-top: 7px;
    border-left: 6px solid #5CB85C !important;
    border-right: 6px solid #5CB85C !important;
    border-top: 3px solid #5CB85C !important;
    border-bottom: 3px solid #5CB85C !important;
    vertical-align: central;
}

.step .fa {
    padding-top: 15px;
    font-size: 40px;
}
.shopping_cart{
    margin-top: 25px;
}
.side_menu_public{
    margin-top: 25px;
}