<div class="table-responsive category_table">
  <table id="mytable" class="table table-bordred table-striped">
    <thead>
    <th>#</th>
    <th>Category Name</th>
    <th>Created_at</th>
    <th>Edit</th>
    <th>Delete</th>
    </thead>
    <tbody>
    <% @categories.each do |category| %>
        <tr>
          <td><%= category.id %></td>
          <td><%= category.name %></td>
          <td><%= category.created_at%></td>
          <td>
            <%= link_to edit_category_path(category.id),:remote => true,:class=> "btn btn-primary btn-xs edit_category" do %>
                <%= content_tag(:span,"",:class=>"glyphicon glyphicon-pencil")%>
            <% end %>
          </td>
          <td>
            <%= link_to category_path(category.id),:remote => true, :id=>"delete_category",method: :delete,:class=> "btn btn-danger btn-xs"  do %>
                <%= content_tag(:span,"",:class=>"glyphicon glyphicon-trash")%>
            <% end %>
          </td>

        </tr>
    <%end%>
        </tbody>
    </table>
</div>