
     <%= error_messages_for(@category)%>
    <%= form_for @category,:html=>{ :class=>'form-inline' },:remote=>true do |f|%>
        <div class="form-group ">
          <%= f.label 'Category Name' %>
            <%= f.text_field :name,:class=>"form-control",  :placeholder=> "Category Name" %>
          </div>
          <%= f.submit "Edit Category",:class=>"btn btn-primary "%>
    <%end%>
