$.ajax({
    success:function(){
        $('#mytable').append( "<tr>"+
                "<td><%= @last_category.id %></td>"+
                "<td><%= @last_category.name %></td>"+
                "<td><%= @last_category.created_at %></td>"+
                "<td><a href='/categories/<%= j  @last_category.id.to_s %>/edit' class ='btn btn-primary btn-xs edit_category' data-remote='true'><span class='glyphicon glyphicon-pencil'></span></a></td>"+
                "<td><a id = 'delete_category' href='/categories/<%= j  @last_category.id.to_s %>' data-remote='true' data-method='delete' class ='btn btn-danger btn-xs'data-remote='true'><span class='glyphicon glyphicon-trash'></span></a></td>"+
             "</tr>"
        )
        $('.form').hide();
        $('#add_category').show()
    }

})