<div class="col-md-12">
  <h4>All Categories</h4>
    <%= link_to "Add Category",new_category_path,:remote => true,:class => 'btn btn-info',:id =>'add_category'%>
  <div class="col-lg-12 form"></div>
    <%= render 'categories/category_table' %>
</div>





