<%if object && object.errors.any? %>
    <div id="errorExplanation">
      <h2><%= pluralize(object.errors.size,'error') %> nije snimljeno</h2>
      <p>polja nemogu biti prazna</p>
      <ul>
        <% object.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>