<!-- Fixed navbar -->
<div class="navbar navbar-inverse ">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Fast Food.ba</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <% if current_user %>
            <li><%= link_to 'Restaurants', restaurants_url %></li>
        <% end %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
            <% if current_user %>
                <li>
                  <%= link_to current_user.username %>
                </li>
                <li>
                  <%= link_to 'Logout', access_path(current_user.id), :method=>:delete %>
                </li>
            <% end %>
            <% if current_user.present? and current_user.has_role? :owner%>
                <li>
                  <%= link_to 'Admin',admin_index_path %>
                </li>
            <% end %>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>
