<!DOCTYPE html>
<html>
<head>
    <title>FastFoodBa</title>

    <%= stylesheet_link_tag    'application', media: 'all'  %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
</head>
<body>
    <% flash.each do |key, value| %>
        <% if key == 'notice' %>
        <div class="alert alert-success" role="alert"><%= value %></div>
        <% elsif key == 'alert'  %>
        <div class="alert alert-danger" role="alert"><%= value %></div>
        <% end %>
    <% end %>
    <div class="container">
      <%= yield %>
    </div>
</body>
</html>